.market{
        align-items: center;
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.blog{

    align-content: center;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#mapid{height:180px;}

h1{
    font-size:0px;
}

.mark a:hover{background: #1ce;
font-size: 30px;
}






